In [1]:
# Write a program to print the first 25 odd numbers in list
odd = []
for i in range(1, 50, 2): 
    odd.append(i)
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [5]:
odd =[]
for i in range(1,51):
    if i%2!=0:
        odd.append(i)
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [13]:
# 2. Arrange string characters such that lowercase letters should come first
lower = []
upper = []
string = "HelLOHey"

for i in string: 
    if i >= 'a' and i<='z': 
        lower.append(i)  
    elif i >= 'A' and i<='Z':  
        upper.append(i) 
result= lower + upper
print(result)

['e', 'l', 'e', 'y', 'H', 'L', 'O', 'H']

In [27]:
# 3. Count all letters, digits, and special symbols from a given string
# a. given-->str1 = "P@#yn26at^&i5ve"
# b. expected-->Total counts of chars, digits, and symbols
string ="P@#yn26at^&i5ve"
chars=0
digits=0
symbols=0
for i in string:
    if (i >= 'a' and i<='z') or  (i >= 'A' and i<='Z'):
        chars+=1
        
    elif(i>'0' and i<'9'):
        digits+=1   
    else:
        symbols+=1
print(chars)
print(digits)
print(symbols)

8
3
4

In [12]:
# 4. Remove empty strings from a list of strings
mylist=[10,20,40,"hello",""]
mylist1=[]
for i in mylist:
    if i!="":
        mylist1.append(i)
mylist=mylist1
print(mylist)

[10, 20, 40, 'hello']

In [14]:
mylist=[10,20,30,40,"",70]
mylist1=[]
for i in mylist:
    if i!="":
        mylist1.append(i)
mylist=mylist1
print(mylist)

[10, 20, 30, 40, 70]

In [21]:
# 5. Remove special symbols / punctuation from a string
string="regex.krgk..@/ppedfkmn"
mylist=[]
for i in string:
    if (i >='0' and i<='9') or (i>='a' and i<='z') or (i>='A' and i<='z'):
        mylist.append(i)
result=''.join(mylist)
print(result)

regexkrgkppedfkmn

In [25]:
# 6. Removal all characters from a string except integers
# a. str1 = 'I am 25 years and 10 months old'
# b. expected-->2510

str1='I am 25 years and 10 months old'
i=''
for char in str1:
    if (char >='0' and char <='9'):
        i+=char
print(i)

2510

In [ ]:
#7. extract the email service provider name
# a. emaillist=["KSR@datavizion.com","mymail@yahoo.com","milindmali@google. com","snehal@health

In [23]:
mylist=[10,20,300,50,300,5]
largest=slargest=0
for n in mylist:
    if(n>largest):
        slargest=largest
        largest=n
    elif(n>slargest and n!=largest):
        slargest=n
print(slargest)

50

In [24]:
mylist=[10,20,300,50,300,5]
lowest=0
slowest=n
for n in my mylist:
    if(n<slowest):
        lowest=slowest 
    elif(n<

SyntaxError: invalid syntax (614374487.py, line 4)

In [ ]:
# in a single program,maximum,secondmax,lowest,second lowest
# run a program to find out the k maximum

In [26]:
# Write a program to clone or copy the list:
mylist=[10,20,30,40,50]
clonelist=[]
for i in mylist:
    clonelist.append(i)
print(clonelist)

[10, 20, 30, 40, 50]

In [32]:
# 12. Write a program to get sum of number of digit in a list

mylist=[10,20,30,40,50]
addlist=[]
for i in mylist:
    if i+mylist:
        pass
    
print(addlist)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [3]:
num3 = float(input("Enter the dividend for division: "))
num4 = float(input("Enter the divisor for division: "))
if num4 == 0:
 print("Error: Division by zero is not allowed.")
else:
 div_result = num3 / num4
 print(f"Division: {num3} / {num4} = {div_result}")

Enter the dividend for division:  5
Enter the divisor for division:  10

Division: 5.0 / 10.0 = 0.5

In [5]:
# Write a Python program to find the area of a triangle.
base=float(input("enter base of the triangle"))
height=float(input("enter lenght of the triangle"))
area=0.5*base*height
print(area)

enter base of the triangle 10
enter lenght of the triangle 15

75.0

In [ ]:
# Write a Python program to swap two variables.
a=10
b=20

In [1]:
n=int(input("enter a no:"))
if n%2!=0:
    print("weird")
elif (n>=2 and n<=5):
    print("not weird")
elif (n>=6 and n<=20):
    print("weird")
elif n>20:
    print("not weird")
else:
    print("invalid")

enter a no: 9

weird

In [4]:
n = int(input("Enter a number: "))

if n % 2 != 0:
    print("Weird")
elif 2 <= n <= 5:
    print("Not Weird")
elif 6 <= n <= 20:
    print("Weird")
elif n > 20:
    print("Not Weird")
else:
    print("Invalid")

Enter a number:  4

Not Weird

In [6]:
a=3
b=5
c=a+b
d=a-b
e=a*b
print(c)
print(d)
print(e)

8
-2
15

In [8]:
lower=[]
upper=[]
string="HelLohefujKJNDD"
for i in string:
    if i>='a' and i<='z':
        lower.append(i)
    elif i>='A' and i<='Z':
        upper.append(i)
result=lower+upper
print(result)

['e', 'l', 'o', 'h', 'e', 'f', 'u', 'j', 'H', 'L', 'K', 'J', 'N', 'D', 'D']

In [19]:
# find largest
numbers=[10,20,30,5,-10,30,60]
minimum=numbers[0]
for i in numbers:
    if i>minimum:
        minimum=i
print(minimum)

60

In [20]:
a=10
b=15
print("before swapping",a)
print("before swapping",b)
a=a+b
b=a-b
a=a-b
print("after swapping",a)
print("after swapping",b)

before swapping 10
before swapping 15
after swapping 15
after swapping 10

In [23]:
a=10
b=15
print("before swapping",a)
print("before swapping",b)
temp=a
a=b
b=temp
print("after swapping",a)
print("after swapping",b)

before swapping 10
before swapping 15
after swapping 15
after swapping 10

In [2]:
#duplicate 
numbers=[40, 50, -20, 60, 60, -20, 20,1,1]
duplicate=[]
for i in range(len(numbers)):
    if numbers.count(numbers[i])>1 and numbers[i] not in duplicate:
        duplicate.append(numbers[i])
print(duplicate)

[-20, 60, 1]